<!DOCTYPE html>
<html>
<head>
    <title>Eurovision Success Calculator</title>
</head>
<body>
    <h2>Predict Eurovision Points</h2>

    <form action="/predict" method="post">
        
        Song In English:
        <select name="Song.In.English">
            <option value="Yes">Yes</option>
            <option value="No">No</option>
        </select>
        <br><br>

        Group or Solo:
        <select name="Group.Solo">
            <option value="Group">Group</option>
            <option value="Solo">Solo</option>
        </select>
        <br><br>

        Danceability:
        <input type="number" step="0.01" name="danceability">
        <br><br>

        Energy:
        <input type="number" step="0.01" name="energy">
        <br><br>

        <input type="submit" value="Predict">
    </form>

</body>
</html>